<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Product Search</title>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/searchForm.css">
</head>

<body>
  <h1>상품 검색</h1>
  <div class="search-form">
    <form method="post" action="searchAllTest">
      <div class="search-row">
        <div class="search-group">
          <label for="searchPcode">상품 코드</label>
          <input type="text" id="searchPcode" name="pcode"
          th:value="${searchDto != null ? searchDto.pcode : ''}" placeholder="상품코드">
           <!-- th:if="${searchDto != null}" th:value="${searchDto.pcode}" => input 안나옴 -->
        </div>
        <div class="search-group">
          <label for="searchPname">상품명</label>
          <input type="text" id="searchPname" name="pname"
          th:value="${searchDto != null ? searchDto.pname : ''}" placeholder="상품명">
        </div>
      </div>

      <div class="search-row">
        <div class="search-group">
          <label>가격 (PRICE)</label>
          <div class="range-group">
            <input type="number" name="minPrice"
            th:value="${searchDto != null ? searchDto.minPrice : ''}" placeholder="최소" min="0">
            <span>~</span>
            <input type="number" name="maxPrice"
            th:value="${searchDto != null ? searchDto.maxPrice : ''}" placeholder="최대" min="0">
          </div>
        </div>
      </div>
      <button class="btn btn-primary" >검색</button>
      <button class="btn btn-secondary" type="button" onclick="location.href='searchAll'">전체 목록</button>
    </form>
  </div>
  <hr>
  <h2 style="text-align: center;">목<span style="margin: 0 100px;"></span>록</h2>
      <table>
        <tr>
            <td>pcode</td>
            <td>category</td>
            <td>pname</td>
            <td>price</td>
        </tr>
        <tr th:each="pdDto : ${pdList}">
            <td th:text="${pdDto.pcode}"></td>
            <td th:text="${pdDto.category}"></td>
            <td th:text="${pdDto.pname}"></td>
            <td th:text="${#numbers.formatCurrency(pdDto.price)}"></td>
        </tr>
    </table>

</body>

</html>