<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>파라미터 연습</title>
</head>
<body>
    <h1>파라미터</h1>
    <p>터미널 로그 확안하세요</p>
    <p>실행 <a href="/list?name=tom&age=23">http://127.0.0.1:8080/list?name=tom&age=23</a> 는 로그 정상 출력</p>
    <p>실행 <a href="/list?name=tom">http://127.0.0.1:8080/list?name=tom</a> 는 오류. age 는 int 로 저장하는데</p>
    <p>그 때 내부적으로 Integer.parseInt(문자열) 실행. 파라미터 값은 문자열입니다.</p>
    <p>이런 경우는 파라미터 기본값을 설정하여 해결 가능</p>
    <hr>
    <p>파라미터가 많은 경우
        <a href="/listA?name=tom&age=23&address=서울&gender=male">
        http://127.0.0.1:8080/listA?name=tom&age=23&address=서울&gender=male</a></p>
    <p>파라미터 갯수 만큼 변수를 선언해야 합니다. 그런데 너무 많다면 비효율적 입니다.</p>
    <p>그래서 dto 클래스를 사용합니다. 스프링부트는 파라미터이름과 dto 변수명으로 매핑하여 저장합니다.</p>
    <hr>
    <p>dto 타입으로 매핑되는 실행</p>
    <p><a href="/listB?name=tom&age=23&address=서울&gender=male">
        http://127.0.0.1:8080/listB?name=tom&age=23&address=서울&gender=male</a></p>
    <hr>
    <h3>POST 요청 처리 예시</h3>
    <form action="list" method="post">
        <!-- dto 와 바로 매핑하여 저장하려면 name 속성값을 dto 변수명과 일치시키기 -->
         <input type="text" name="name" placeholder="name 입력하세요">
         <input type="text" name="age" placeholder="age 입력하세요">
         <input type="text" name="address" placeholder="address 입력하세요">
         <input type="text" name="gender" placeholder="gender 입력하세요">
         <button type="submit">저장</button>
    </form>
    <hr>
    <h3>파일(이미지, PDF 등등) 전송 - 반드시 POST 방식</h3>
    <p>application.properties 파일에 서버에서 업로드 요청이 온 파일을</p>
    <p>어느 폴더에 저장할 것인지 설정 필요합니다.</p>
    <p>form 태그의 필수 속성은 method="post" enctype="multipart/form-data" 입니다.</p>
    <p>컨트롤러 클래스에서는 파일을 MultipartFile 타입으로 저장해야 합니다.</p>
    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="제목 입력">
        <input type="file" name="uploadFile">
        <button type="submit">업로드</button>
    </form>
    <p><a href="/">홈으로 가기</a></p>
</body>
</html>